.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.placeholder,
.label-text {
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 2px;
}

.select {
  border-radius: 4px;
  color: #1c1e21;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  line-height: 20px;
}
